/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

[data-type="ms/anchor"] {
	&::after {
		content: "";
		position: absolute;
		border: 1px dashed #1d2b4e;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		z-index: 0;
	}

	&.is-selected::after {
		border: 0;
	}

	.wrapper-anchor-block {
		color: #1d2b4e;
		padding: 0.5rem 1rem;
		text-align: center;

		.anchor-block-title {
			display: flex;
			justify-content: center;

			svg {
				margin-right: 0.25rem;
			}
		}

		code {
			border: 1px solid black;
			background-color: gray;
			color: white;
			padding: 0.125rem 0.25rem;
		}
	}
}
